.horizontal_scroll button {
  opacity: 1;
}
.horizontal_scroll {
  background-color: #222629;
  font-weight: 200;
  color: #86c232;
}

.GameCategory-root-110 h3 {
  
  font-weight: 200; 
  font-size: 18px;
  padding-top: 2rem;
  padding-left: 1rem;
  margin: 0;
}
header {
  box-shadow: none !important;
}
