.userprofile {
  display: grid;
  background-color: black;
}
.userprofile .infodivs {
  color: white;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 20fr;
}

.infodivs svg path {
  fill: white;
}
.infodivs div {
  padding: 0.7rem;
}
.socialmedia div {
  padding: 0.7rem;
}
.socialmedia {
  background-color: black;
 
  display: grid;
  align-items: center;
  grid-template-columns: repeat(7,1fr);
}
.socialmedia svg path {
  fill: white;
}