.bottombar {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #212529;
}

.icon {
  color: #A5A5A5 !important;
  /* fill: white; */
}
.MuiBottomNavigationAction-root-112.MuiBottomNavigationAction-selected-113 {
  color: white !important;
}
