.bottombar {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #212529;
  border-top: 1px solid #86c232;
}

.icon {
  color: #a5a5a5 !important;
  /* fill: white; */
}
.bottombar .MuiBottomNavigationAction-selected-156 {
  color: white !important;
}

.bottomspace {
  width: 100%;
  height: 70px;
}
